
.gameSpace {

  margin: 0 auto;

  width: 100vw;

  height: 100vw;

}

.playerSequencer {

  position: absolute;

  top: 50%;

  transform: translateY(-50%);

  margin: 0 auto;

  width: 100vw;

  padding-top: 5vw;

  padding-bottom: 5vw;

}

.sequence {

  text-align: center;

  margin: 0 auto;

  display: block;

}

.sequence.four {

  width: 100vw;
}

.sequencer.eight {

  width: 100vw;

}

.sequencer.sixteen {

  width: 100vw;

}

.beat {

  display: inline-block;

  margin: auto;

  text-align: center;

}

.beat-box {

  width: 100%;

  height: 100%;

  background-color: #444;

  border: 1.5px solid #fd00ff;

}

.beat.four {

  width: 25vw;

  height: 25vw;

  padding: 2vw;

}

.beat.eight {

  height: 11vw;

  width: 11vw;

  padding: 1vw;

}

.beat.sixteen {

  height: 11vw;

  width: 5.5vw;

  padding: .5vw;

}

.playing {

  opacity: .5;

}

.wrong, .match, .won {

  line-height: 100vh;

  text-align: center;

  height: 100vh;

  width: 100vw;

  opacity: 0;

  transition: opacity .3s;

  position: relative;

  z-index: 999; /* Must be on top */

}

.ng-hide-remove, .ng-hide-remove {

  transition: opacity .3s;
}

.wrong.flash, .match.flash, .won.flash {

  opacity: 1;

  transition: opacity .3s;

}

.wrong.flash {

  background-color: rgb(255, 49, 158);

}

.match.flash, .won.flash {

  background-color: rgb(0, 251, 175);

}

.match-message, .wrong-message, .won-message {

  display: inline-block;

  vertical-align: middle;

  line-height: normal;

  margin: auto;

  font-size: 10em;

}

.wrong-message {

  color: rgb(171, 250, 0);

}

.match-message, .won-message {

  color: rgb(255, 49, 158);

}

@media  (max-width: 1400px) {

  .won-message {
    font-size: 8em;
  }

}

@media  (max-width: 1125px) {

  .won-message {
    font-size: 6em;
  }

}

@media  (max-width: 1000px) {

  .won-message {
    font-size: 3em;
  }

}

._0, ._1, ._2 {

  opacity: .8;

}

._0.playing {

  background-color: rgb(255, 49, 158);

}

._1.playing {

  background-color: rgb(0, 251, 175);

}

._2.playing {

  background-color: rgb(253, 230, 0)

}