
.gameSpace {

  margin: 0 auto;

  width: 100vw;

  height: 100vw;

}

.playerSequencer {

  margin: 0 auto;

  width: 90vw;

}

.sequence {

  margin: auto;

  display: block;

}

.sequence.four {

  height: 15vw;

  width: 60vw;
}

.sequencer.eight {

  height: 11vw;

  width: 88vw;

}

.sequencer.sixteen {

  height: 11vw;

  width: 88vw;

}

.beat {

  display: inline-block;

  margin: auto;

  text-align: center;

  padding: 10px;

}

.beat-box {

  width: 100%;

  height: 100%;

  background-color: #fd00ff;

  border: 3px solid #387ef5;

}

.beat.four {

  width: 15vw;

  height: 15vw;

}

.beat.eight {

  height: 11vw;

  width: 11vw;

}

.beat.sixteen {

  height: 11vw;

  width: 5.5vw;

}

.playing {

  opacity: .5;

}

.wrong, .match, .won {

  line-height: 100vh;

  text-align: center;

  height: 100vh;

  width: 100vw;

  opacity: 0;

  transition: opacity .3s;

}

.ng-hide-remove, .ng-hide-remove {

  transition: opacity .3s;
}

.wrong.flash, .match.flash, .won.flash {

  opacity: 1;

  transition: opacity .3s;

}

.wrong.flash {

  background-color: rgb(255, 49, 158);

}

.match.flash, .won.flash {

  background-color: rgb(0, 251, 175);

}

.match-message, .wrong-message, .won-message {

  display: inline-block;

  vertical-align: middle;

  line-height: normal;

  margin: auto;

  font-size: 10rem;

}

.wrong-message {

  color: rgb(171, 250, 0);

}

.match-message, .won-message {

  color: rgb(255, 49, 158);

}
