<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Main Tab -->
  <ion-tab title="Listen to Your Solution" icon-off="ion-ios-play" icon-on="ion-ios-pause">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Visualize Tab -->
  <ion-tab title="Play Sequence" icon-off="ion-ios-play" icon-on="ion-ios-pause">
    <ion-nav-view name="tab-play-sequence"></ion-nav-view>
  </ion-tab>

  <!-- Verify Tab -->
  <ion-tab title="Check Answer" icon-off="ion-ios-checkmark" icon-on="ion-ios-checkmark">
    <ion-nav-view name="tab-check-answer"></ion-nav-view>
  </ion-tab>


</ion-tabs>
